@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-main;
  }

  body {
    @apply bg-natural-5 dark:bg-black-1
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-black-1 dark:text-white;
  }

  h1 {
    @apply font-bold text-4xl;
  }

  h2 {
    @apply font-bold text-2xl;
  }

  h3 {
    @apply font-semibold text-2xl;
  }

  h4 {
    @apply font-bold text-xl;
  }

  h5 {
    @apply font-semibold text-xl;
  }

  h6 {
    @apply font-semibold text-lg;
  }

  /* BUTTONS */

  /* Primary buttons */

  .btn {
    @apply transition duration-300 px-4 py-2 rounded-lg font-semibold flex items-center gap-2 bg-primary text-white hover:bg-primary-hover whitespace-nowrap;
  }

  .btn svg {
    @apply w-4 h-4
  }

  .btn svg path {
    @apply transition duration-300 fill-white;
  }

  .btn-outlined {
    @apply bg-transparent border-2 dark:bg-transparent text-primary border-primary hover:border-primary-hover hover:text-white dark:hover:bg-primary-hover dark:hover:border-primary-hover;
  }

  .btn-outlined.btn-active {
    @apply border-primary-hover dark:bg-primary-hover text-white;
  }

  .btn-outlined svg path {
    @apply fill-primary;
  }

  .btn-outlined:hover svg path,
  .btn-active svg path {
    @apply fill-white;
  }

  /* Secondary button */

  .btn-secondary {
    @apply bg-natural-4 dark:bg-black-3 text-natural-2 hover:text-natural-2 border-2 border-natural-4 dark:border-black-3 hover:bg-natural-3 hover:border-natural-3 dark:hover:bg-black-1 dark:hover:border-black-1;
  }

  .btn-secondary.btn-active {
    @apply text-natural-2 bg-natural-3 dark:bg-black-1 dark:border-black-1;
  }

  .btn-secondary svg path {
    @apply fill-natural-2;
  }

  .btn-outlined.btn-secondary {
    @apply border-natural-3 bg-transparent hover:bg-natural-3 dark:border-natural-1 dark:hover:bg-natural-1 dark:hover:text-white;
  }

  .btn-secondary.btn-outlined.btn-active {
    @apply text-natural-2 bg-natural-3 dark:bg-natural-1 dark:text-white;
  }

  .btn-outlined.btn-secondary svg path {
    @apply transition duration-300 fill-natural-2;
  }

  .btn-outlined.btn-secondary:hover svg path,
  .btn-outlined.btn-secondary.btn-active svg path {
    @apply fill-natural-2 dark:fill-white;
  }

  /* Transparent button */
  .btn-transparent {
    @apply bg-opacity-25 text-primary hover:text-white;
  }

  .btn-transparent svg path {
    @apply fill-primary;
  }

  .btn-transparent:hover svg path {
    @apply fill-white;
  }

  /* FORM ELEMENTS */

  input[type='text'].inputBordered,
  input[type='email'].inputBordered,
  input[type='number'].inputBordered {
    @apply px-4 py-2 rounded-lg font-semibold border-2 border-natural-3 dark:border-natural-1 dark:text-natural-2;
  }

  input[type='text'],
  input[type='email'],
  input[type='number'] {
    @apply bg-natural-4 dark:bg-black-2;
  }
  
  .filterCheckbox {
    position: relative;
    @apply transition duration-200 cursor-pointer w-4 h-4 border appearance-none border-natural-1 rounded bg-none checked:bg-primary checked:border-primary;
  }

  .filterCheckbox::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -50%);
    @apply transition duration-200 opacity-0;
  }

  .filterCheckbox:checked::before {
    background-image: var(--checkmark);
    @apply opacity-100;
  }
}

:root {
  --checkmark: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.0591 2.95952C1.66454 2.56044 1.02895 2.56466 0.639475 2.96894C0.249996 3.37321 0.254111 4.02445 0.648667 4.42352L3.19939 7.00345C3.61903 7.42788 4.30362 7.39208 4.6789 6.92608L8.82047 1.78322C9.17333 1.34506 9.11271 0.696777 8.68508 0.335234C8.25746 -0.0263098 7.62476 0.0357993 7.2719 0.473958L3.8288 4.74947L2.0591 2.95952Z' fill='white'/%3E%3C/svg%3E%0A");
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  transform: scale(1.5);
  background-color: #F1F1F5;
}

.ball {
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.dark .ball{
  transform: translateX(16px);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
